
/* aggregation block admin */
form#aggregation-block-form .aggblock-header {
  margin-bottom: 1em;
}

form#aggregation-block-form .table-wrapper table {
  width: auto;
  min-width: 400px;
  margin: 1em auto;
}
form#aggregation-block-form span.button-wrapper {
  display: block;
}
form#aggregation-block-form span.button-wrapper input {
  display: block;
  margin: auto;
}
form#aggregation-block-form th.c2 {
  font-weight: bold;
}
form#aggregation-block-form th.c3 {
  font-weight: bold;
}
form#aggregation-block-form th.c4 {
  text-align: right;
  font-weight: bold;
}
form#aggregation-block-form th.c5 {
  text-align: right;
  font-weight: bold;
}

form#aggregation-block-form td.c1 {
  width: 25px;
}
form#aggregation-block-form td.c4,
form#aggregation-block-form td.c4 input,
form#aggregation-block-form td.c5 {
  text-align: right;
}


/* aggregation block display */
.aggblock-footer {
  margin: 0.5em auto 0;
  text-align: right;
}




